{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contacto{% endblock %}
{% block background %}{% static 'core/img/contact-bg2.jpg' %}{%endblock %}
{% block headers %}
 <h1>Contacto</h1>
 <span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<h2>Contacto</h2>
<p>Aquí os dejo mi correo y mis redes sociales.</p>

<ul class="contact-list">
    <!-- Gmail -->
    <li>
        <a href="mailto:isanccal@myuax.com" target="_blank">
            <img src="{% static 'core/img/gmail.png' %}" alt="Gmail" width="30" height="30">
        </a>
    </li>

    <!-- GitHub -->
    <li>
        <a href="https://github.com/Nachosanchezz" target="_blank">
            <img src="{% static 'core/img/github.png' %}" alt="GitHub" width="30" height="30">
        </a>
    </li>

    <!-- LinkedIn -->
    <li>
        <a href="https://linkedin.com/in/ignacio-sanchez-calabrese" target="_blank">
            <img src="{% static 'core/img/linkedin.png' %}" alt="LinkedIn" width="30" height="30">
        </a>
    </li>
</ul>
{% endblock %}



